/*
* Grind V0.0.1
* Copyright 2015, Benjamin Woehrl
* www.benjaminwoehrl.de
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 04/22/2015
*/


@-webkit-keyframes hover-bury {
    from {-webkit-transform: scale(1);}
    to {-webkit-transform: scale(0.9);}
}
@-moz-keyframes hover-bury {
    from {-moz-transform: scale(1);}
    to {-moz-transform: scale(0.9);}
}
@-o-keyframes hover-bury {
    from {-o-transform: scale(1);}
    to {-o-transform: scale(0.9);}
}
@keyframes hover-bury {
    from {transform: scale(1);}
    to {transform: scale(0.9);}
}

.hover-bury:hover {
    -webkit-animation: hover-bury 0.2s normal forwards;
    -moz-animation: hover-bury 0.2s normal forwards;
    -o-animation: hover-bury 0.2s normal forwards;
    animation: hover-bury 0.2s normal forwards;
}


@-webkit-keyframes ani-pulse {
    0% {-webkit-transform: scale(1);}
    20% {-webkit-transform: scale(0.9);}
    60% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1);}
}

@-moz-keyframes ani-pulse {
    0% {-webkit-transform: scale(1);}
    20% {-webkit-transform: scale(0.9);}
    60% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1);}
}

@-o-keyframes ani-pulse {
    0% {-webkit-transform: scale(1);}
    20% {-webkit-transform: scale(0.9);}
    60% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1);}
}

@keyframes ani-pulse {
    0% {-webkit-transform: scale(1);}
    20% {-webkit-transform: scale(0.9);}
    60% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1);}
}

.ani-pulse {
    -webkit-animation: ani-pulse 1.5s infinite;
    -moz-animation: ani-pulse 0.2s infinite;
    -o-animation: ani-pulse 0.2s infinite;
    animation: ani-pulse 0.2s infinite;
}