/*
* Grind V0.0.1
* Copyright 2015, Benjamin Woehrl
* www.benjaminwoehrl.de
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 04/22/2015
*/


.right {
    float: right;
}

.left {
    float: left;
}

.center {
    float: none;
    margin: 0 auto;
}

.left::after,
.right::after {
    clear: both;
    display: table;
    content: "";
}

.underlined {
    border-bottom: 1px solid lightgray;
}


