.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
}

.container::after,
.container-full::after,
.row::after {
    clear: both;
    display: table;
    content: "";
}

.one,
.one-offset {
    width: 8.3333333333%;
    float: left;
}
.two,
.two-offset {
    width: 16.666666667%;
    float: left;
}
.three,
.three-offset {
    width: 25%;
    float: left;
}
.four,
.four-offset {
    width: 33.333333333%;
    float: left;
}
.five,
.five-offset {
    width: 41.666666667%;
    float: left;
}
.six,
.six-offset {
    width: 50%;
    float: left;
}
.seven,
.seven-offset {
    width: 58.333333333%;
    float: left;
}
.eight,
.eight-offset {
    width: 66.666666666%;
    float: left;
}
.nine,
.nine-offset {
    width: 75%;
    float: left;
}
.ten,
.ten-offset {
    width: 83.333333333%;
    float: left;
}
.eleven,
.eleven-offset {
    width: 91.6666666667%;
    float: left;
}
.twelve,
.twelve-offset {
    width: 100%;
    float: left;
}

.one-offset,
.two-offset,
.three-offset,
.four-offset,
.five-offset,
.six-offset,
.seven-offset,
.eight-offset,
.nine-offset,
.ten-offset,
.eleven-offset,
.twelve-offset {
    float: right;
}

.center {
    float: none;
    margin: 0 auto;
}

.border {
    border: 1px solid lightgray;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        margin: 0 15px;
    }

    .one,
    .one-offset,
    .two,
    .two-offset,
    .three,
    .three-offset,
    .four,
    .four-offset,
    .five,
    .five-offset,
    .six,
    .six-offset,
    .seven,
    .seven-offset,
    .eight,
    .eight-offset,
    .nine,
    .nine-offset,
    .ten,
    .ten-offset,
    .eleven,
    .eleven-offset,
    .twelve,
    .twelve-offset {
        width: 100%;
        float: none;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



